.education {
    width: 100%;
    padding-top: 4rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-timeline {
    width: 90%;
    max-width: 1500px;
    border-left: 1px solid var(--text-2);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

.education-timeline li {
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding-left: 2rem;
    overflow: hidden;
    line-height: 2rem;
    font-size: var(--font-size-1);
    color: var(--text-2);
}


.border {
    height: 100%;
    width: 1.5rem;
    background-color: rebeccapurple;
    border-left: 2px solid var(--text-2);

    border-radius: .5rem;

    left: 0;
    transform: translate(0, -50%);

    z-index: 5;
}

.degree {
    display: inline-block;
    font-size: var(--font-size);
    color: var(--text);
    font-weight: 100;
}

.institute {
    display: inline-block;
    font-size: var(--font-size);
    color: var(--primary);
    cursor: pointer;
}

.institute a {
    color: var(--primary);
}

.year {
    display: inline-block;
}

.score {
    display: inline-block;
    font-size: var(--font-size);
    color: var(--primary);
}

.achievements {
    width: 85%;
    max-width: 1500px;
    overflow: hidden;
}

.achievements-heading {
    font-size: 2.5rem;
    line-height: 5rem;
    margin-bottom: 0;
}

.achievements-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-template-rows: repeat(auto, 310px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-flow: dense;

}

.achievement {
    width: clamp(190px, 210px, 230px);
    aspect-ratio: .8;
    background-color: var(--accent);
    border-radius: 1rem;
    
    margin: 1rem 0;
    
    align-self: center;
    
    cursor: pointer;
    
}

.achievement-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    
}

.achievement:hover {
    scale: 1.025;
    transform: translate(0, -.05rem);
    box-shadow: 1px 1px 10px var(--text-2);
}

.achievement-front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1.5rem 1.25rem;
    padding-bottom: 1rem;
    gap: .65rem;
    border-radius: 1rem;
    -webkit-backface-visibility: hidden;
}

.achievement-heading {
    font-size: var(--font-size-h3);
    color: var(--text-3);
}

.achievement-front p {
    color: var(--text-4);
    font-size: var(--font-size-1);
    line-height: 1.25em;
}

.achievement-back {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}

.achievement:hover .achievement-inner {
    transform: rotateY(180deg);
}

.achievement-back {

    overflow: hidden;
}

.achievement-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}